.btn {
    background: #ad00ff;
    height: 105px;
    min-width: 317px;
    border: 1px #ad00ff;
  
    font-family: Saira;
    font-style: normal;
    font-weight: 300 !important;
    color: #ffffff;
    text-align: center;
    font-size: 45px !important;
    border-radius: 80px !important;
  
    margin-top: 3cm;

    transition: all 0.2s ease;
  }
  
  .btn:focus {
    outline: none !important;
  }
  
  .btn:hover {
    transform: scale(1.2);
    color: #ffffff !important;
  }

  @import url('http://fonts.googleapis.com/css?family=Saira:400,300');

  